In [1]:
import pandas as pd 
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('train_yaOffsB.csv')
df.head()

,ID,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,Crop_Damage
0,F00000001,188,1,0,1,0,0.0,0,1,0
1,F00000003,209,1,0,1,0,0.0,0,2,1
2,F00000004,257,1,0,1,0,0.0,0,2,1
3,F00000005,257,1,1,1,0,0.0,0,2,1
4,F00000006,342,1,0,1,0,0.0,0,2,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88858 entries, 0 to 88857
Data columns (total 10 columns):
ID                         88858 non-null object
Estimated_Insects_Count    88858 non-null int64
Crop_Type                  88858 non-null int64
Soil_Type                  88858 non-null int64
Pesticide_Use_Category     88858 non-null int64
Number_Doses_Week          88858 non-null int64
Number_Weeks_Used          79858 non-null float64
Number_Weeks_Quit          88858 non-null int64
Season                     88858 non-null int64
Crop_Damage                88858 non-null int64
dtypes: float64(1), int64(8), object(1)
memory usage: 6.8+ MB

In [4]:
df_test = pd.read_csv('test_pFkWwen.csv')
df_test.head()

,ID,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season
0,F00000002,188,1,1,1,0,NaN,0,2
1,F00000007,410,1,1,1,0,0.0,0,2
2,F00000011,626,1,0,1,0,0.0,0,2
3,F00000013,731,1,0,1,0,0.0,0,2
4,F00000014,789,0,0,1,0,0.0,0,1

In [5]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59310 entries, 0 to 59309
Data columns (total 9 columns):
ID                         59310 non-null object
Estimated_Insects_Count    59310 non-null int64
Crop_Type                  59310 non-null int64
Soil_Type                  59310 non-null int64
Pesticide_Use_Category     59310 non-null int64
Number_Doses_Week          59310 non-null int64
Number_Weeks_Used          53417 non-null float64
Number_Weeks_Quit          59310 non-null int64
Season                     59310 non-null int64
dtypes: float64(1), int64(7), object(1)
memory usage: 4.1+ MB

In [6]:
df.shape

(88858, 10)

In [7]:
df_test.shape

(59310, 9)

In [8]:
df.isna().apply(pd.value_counts)

,ID,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,Crop_Damage
False,88858.0,88858.0,88858.0,88858.0,88858.0,88858.0,79858,88858.0,88858.0,88858.0
True,NaN,NaN,NaN,NaN,NaN,NaN,9000,NaN,NaN,NaN

In [9]:
df_test.isna().apply(pd.value_counts)

,ID,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season
False,59310.0,59310.0,59310.0,59310.0,59310.0,59310.0,53417,59310.0,59310.0
True,NaN,NaN,NaN,NaN,NaN,NaN,5893,NaN,NaN

In [10]:
df.describe()

,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,Crop_Damage
count,88858.000000,88858.000000,88858.000000,88858.000000,88858.000000,79858.000000,88858.000000,88858.000000,88858.000000
mean,1399.012210,0.284375,0.458417,2.264186,25.849952,28.623970,9.589986,1.896959,0.190562
std,849.048781,0.451119,0.498271,0.461772,15.554428,12.391881,9.900631,0.701322,0.454215
min,150.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,731.000000,0.000000,0.000000,2.000000,15.000000,20.000000,0.000000,1.000000,0.000000
50%,1212.000000,0.000000,0.000000,2.000000,20.000000,28.000000,7.000000,2.000000,0.000000
75%,1898.000000,1.000000,1.000000,3.000000,40.000000,37.000000,16.000000,2.000000,0.000000
max,4097.000000,1.000000,1.000000,3.000000,95.000000,67.000000,50.000000,3.000000,2.000000

In [11]:
df_test.describe()

,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season
count,59310.000000,59310.000000,59310.000000,59310.000000,59310.000000,53417.000000,59310.000000,59310.000000
mean,1397.014129,0.287068,0.455117,2.263227,25.851880,28.705094,9.528376,1.900877
std,849.425808,0.452397,0.497986,0.461733,15.481957,12.421211,9.855341,0.701934
min,150.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,731.000000,0.000000,0.000000,2.000000,15.000000,20.000000,0.000000,1.000000
50%,1212.000000,0.000000,0.000000,2.000000,20.000000,28.000000,7.000000,2.000000
75%,1898.000000,1.000000,1.000000,3.000000,40.000000,38.000000,16.000000,2.000000
max,4097.000000,1.000000,1.000000,3.000000,95.000000,67.000000,50.000000,3.000000

In [12]:
df["Number_Weeks_Used"].fillna(df["Number_Weeks_Used"].mean(), inplace=True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88858 entries, 0 to 88857
Data columns (total 10 columns):
ID                         88858 non-null object
Estimated_Insects_Count    88858 non-null int64
Crop_Type                  88858 non-null int64
Soil_Type                  88858 non-null int64
Pesticide_Use_Category     88858 non-null int64
Number_Doses_Week          88858 non-null int64
Number_Weeks_Used          88858 non-null float64
Number_Weeks_Quit          88858 non-null int64
Season                     88858 non-null int64
Crop_Damage                88858 non-null int64
dtypes: float64(1), int64(8), object(1)
memory usage: 6.8+ MB

In [14]:
X_train = df.drop(["ID","Crop_Damage"] , axis=1)
y_train = df.pop("Crop_Damage")

In [15]:
from sklearn.ensemble import GradientBoostingClassifier
gbcl = GradientBoostingClassifier(n_estimators = 500,learning_rate=0.2,random_state=1)
gbcl = gbcl.fit(X_train, y_train)

In [16]:
print(gbcl.score(X_train, y_train))

0.8531814805644962

In [17]:
df_test["Number_Weeks_Used"].fillna(df_test["Number_Weeks_Used"].mean(), inplace=True)

In [18]:
X_test = df_test.drop(["ID"] , axis=1)
y_test = df_test.pop("ID")

In [19]:
y_pred = gbcl.predict(df_test)

In [20]:
y_pred

array([1, 1, 1, ..., 1, 0, 0], dtype=int64)

In [21]:
A = pd.DataFrame(data=y_pred ,columns=["Crop_Damage"])

In [22]:
A

       Crop_Damage
0                1
1                1
2                1
3                1
4                1
...            ...
59305            0
59306            0
59307            1
59308            0
59309            0

[59310 rows x 1 columns]

In [23]:
#id column
y_test

0        F00000002
1        F00000007
2        F00000011
3        F00000013
4        F00000014
           ...
59305    F00155937
59306    F00155940
59307    F00155941
59308    F00155943
59309    F00155944
Name: ID, Length: 59310, dtype: object

In [24]:
DT = pd.merge(y_test , A, on=None, left_index= True,
    right_index=True)

In [25]:
DT

              ID  Crop_Damage
0      F00000002            1
1      F00000007            1
2      F00000011            1
3      F00000013            1
4      F00000014            1
...          ...          ...
59305  F00155937            0
59306  F00155940            0
59307  F00155941            1
59308  F00155943            0
59309  F00155944            0

[59310 rows x 2 columns]

In [26]:
DT.to_csv('GBoost.csv',index = False)